<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088901190337-ud0fmlca599htbs4jnbvr1s0mr1rg7ov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088901190337-ud0fmlca599htbs4jnbvr1s0mr1rg7ov</string>
	<key>API_KEY</key>
	<string>AIzaSyD222v1bMqhe-Tbd4o4QjQjoI-_J8OUJe0</string>
	<key>GCM_SENDER_ID</key>
	<string>1088901190337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wellstride.wellstrideApp</string>
	<key>PROJECT_ID</key>
	<string>wellstride-app</string>
	<key>STORAGE_BUCKET</key>
	<string>wellstride-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088901190337:ios:3312901f8a9bd46c95ba40</string>
</dict>
</plist>
